.sfondo{
    height:80vh;
    background-image: url(/img/jumbo-bg.png);
    background-size: cover;
}

.returnal img{
    width:100%;
}

.ratchet img{
    width:100%;
}

.ps5-big-photo img{
    width:100%;
}

.ps5-tools img{
    width:8rem;
}

.sfondo2{
    height: 80vh;
    background-image: url(/img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
}

.tonyhawk img{
    width:100%;
}

.bandicoot img{
    width:100%;
}

.ps4-tools img{
    width:100%;
}

.ps-plus img{
    width:100%;
}

.april-game img{
    width:100%;
}