

.sfondo{
    height:80vh;
    background-image: url(/img/jumbo-bg.png);
    background-size: cover;
}

.ret-logo {
    width: 15rem;
    position: absolute;
    top: 40vh
}

.returnal img{
    width:100%;
    border-radius:25px;
}

.returnal img:hover{
    position: relative;
    bottom:20px;
    transition-duration:2s;
    transition-timing-function: linear;
}

.ratchet img{
    width:100%;
    border-radius:25px;
}

.ratchet img:hover {
    position: relative;
    bottom: 20px;
    transition-duration: 2s;
    transition-timing-function: linear;
}

.ps5-big-photo img{
    width:100%;
}

.ps5-tools {
    display: flex;
    align-items: center;
    justify-content: center;

}

.ps5-tools img{
    width:8rem;
}

.ps5-tools:hover{ 
    border-bottom: 3px solid rgb(0, 98, 255);
}

.sfondo2{
    height: 80vh;
    background-image: url(/img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
}

.takes-logo {
    width: 15rem;
    position: relative;
    bottom: 20%
}

.tonyhawk img{
    width:100%;
    border-radius: 10%;
}

.bandicoot img{
    width:100%;
    border-radius: 10%;
}

.ps4-tools img{
    width:100%;
}

.ps-plus img{
    width:100%;
}

.april-game img{
    width:100%;
}

.ps-store-sale img{
   width:100%;
}

.ps-now img{
    width:100%;
}

.social img{
    width:100%;
}

.sielogo img{
    width:100%;
}

.btn {
    border-radius: 100px
}

button {
    border-radius: 100px;
    padding: 5px;
}